<div class="we-are-not-friends">
    <div>
        Sort By: <a href="/ideas/feed?SortBy=Latest"><button class="btn btn-secondary">Latest</button></a>
        <a href="/ideas/feed?SortBy=IWouldUseThis"><button class="btn btn-secondary">Use Votes</button></a>
        <a href="/ideas/feed?SortBy=IWouldBuyThis"><button class="btn btn-secondary">Buy Votes</button></a>
    </div>
    <a href="/ideas/submit"><button class="btn btn-primary">Submit Your Idea</button></a>
</div>
